<h1 class="userinfo">
	<%= current_user.first_name %> <%= current_user.last_name%></h1>

<h4>Email: <%= current_user.email%> </h4>
<hr>

<h3>List of open reservations</h3>

<% current_user.reservations.each do |res| %>
	<p>Reservation at: <%= res.time %> for <%= res.party_size %>.</p>
<% end %>



