<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.address %></h3>
<%= image_tag(@restaurant.image_url) %>

<% if current_user %>
	<%= form_for(@reservation) do |f| %>

		<%= f.hidden_field :restaurant_id %>

		<div class="field">
			<%= f.label :date %><br />
			<%= f.datetime_select :time%>
		</div>

		<div class="field">
			<%= f.label :party_size %><br />
			<%= f.number_field :party_size %>
		</div>

		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
<% end %>

<% @reservations.each do |reservation| %>
	<p>Reservation at: <%= reservation.time %> for <%= reservation.party_size %>.</p>
	<p>Reservation by: <%= reservation.user.first_name %> <%= reservation.user.last_name %></p>
<% end %>

<p><%= link_to 'Back', restaurants_path %></p>
