<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.address %></h3>
<%= image_tag(@restaurant.image_url) %>

<%= render 'form' %>

<% @reservations.each do |reservation| %>
	<% party = reservation.party_size %>
	<p>Your reservation is at: <%= reservation.time %> for <%= party %> <%= party < 2 ? "person" : "people" %>.</p>
<% end %>

<p><%= link_to 'Back', restaurants_path %></p>
